/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.scss */
body {
  font-family: "Futura", "Trebuchet MS", sans;
  background: white;
}

/* line 25, ../sass/screen.scss */
.scallop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 75px;
  background: white;
  z-index: 1000;
  -moz-border-radius: 39.5px;
  -webkit-border-radius: 39.5px;
  -o-border-radius: 39.5px;
  -ms-border-radius: 39.5px;
  -khtml-border-radius: 39.5px;
  border-radius: 39.5px;
}

/* line 36, ../sass/screen.scss */
#image-background {
  width: 702px;
  height: 702px;
  margin: 80px auto;
  position: relative;
  background: url(../images/wordless-logo.png);
}
/* line 43, ../sass/screen.scss */
#image-background #head-img {
  white-space: nowrap;
  position: absolute;
  top: 234px;
  left: 151px;
  font-size: 134px;
  color: #fff;
}

/* line 53, ../sass/screen.scss */
#plain-html {
  width: 600px;
  height: 600px;
  margin: 40px auto;
  text-align: center;
  -moz-border-radius: 320px;
  -webkit-border-radius: 320px;
  -o-border-radius: 320px;
  -ms-border-radius: 320px;
  -khtml-border-radius: 320px;
  border-radius: 320px;
  color: #fff;
  background: #333333;
  position: relative;
}
/* line 65, ../sass/screen.scss */
#plain-html .ring {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 510px;
  height: 510px;
  border: 8px solid white;
  -moz-border-radius: 265px;
  -webkit-border-radius: 265px;
  -o-border-radius: 265px;
  -ms-border-radius: 265px;
  -khtml-border-radius: 265px;
  border-radius: 265px;
}
/* line 76, ../sass/screen.scss */
#plain-html .logo {
  position: absolute;
  top: 170px;
  left: 110px;
}
/* line 81, ../sass/screen.scss */
#plain-html .logo #head {
  white-space: nowrap;
  font-size: 130px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 88, ../sass/screen.scss */
#plain-html .logo .mid {
  font-size: 50px;
  position: absolute;
  top: 130px;
  left: 160px;
}
/* line 94, ../sass/screen.scss */
#plain-html .logo .bottom {
  white-space: nowrap;
  font-size: 69px;
  position: absolute;
  top: 190px;
  left: 0;
}
